.manage-user-container {
    padding: 10px;

    .title {
        font-weight: 600;
        font-size: 20px;
    }

    .users-content {
        .btn-add-new {
            margin: 15px 0;
        }
    }
}

.modal-add-user {
    .img-preview {
        padding: 0 5px;
        border: 1px dashed #ccc;
        height: 150px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ccc;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .label-upload {
        color: white;
        background-color: rgb(0, 140, 255);
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 5px;
        width: fit-content;
        padding: 3px 10px;
        border-radius: 5px;

        &:hover {
            background-color: rgb(9, 126, 223);
        }
    }
}

.user-info {
    display: flex;
    align-items: center;

    .image-detail {
        .rev-img-preview {
            padding: 5px;
            border: 1px dashed #000000;
            border-radius: 50%;
            object-fit: cover;
            width: 200px;
            height: 200px;
        }
    }

    .user-details {
        font-weight: 500;
        padding: 0 20px;
    }

}