.admin-container {
    display: flex;

    .admind-sidebar {
        .pro-sidebar {
            height: 100vh !important;
        }
    }

    .admind-content {
        width: 100%;

        .admin-header {
            height: 40px;
            border: 1px solid green;
        }

        .admin-name {}
    }
}